{% load static %}
<footer style="width: 100vw; height: 100px; background-color: black;">
    <div style="overflow-y: hidden; grid-column-start: 2; grid-column-end: 2; margin-top: 15px;"><img width="60px" src="{% static 'img/home/logo.png' %}"></div>
    <p style="color: white; grid-column-start: 3; grid-column-end: 3; font-family: Roboto, sans-serif; line-height: 100px; margin: 0; overflow-y: hidden;">Copyright 2023 Chak Chak. All rights reserved.</p>
</footer>
<style>
    footer {
        display: grid;
        grid-template-columns: 10vw 100px 1fr 10vw;
        overflow-y: hidden;
    }
</style>
<script src="{% static 'js/anime-master/lib/anime.min.js' %}"></script>
<script>

</script>
